<p id="notice"><%= notice %></p>

<p>
  <strong>Receiver:</strong>
  <%= @micreceiver.receiver %>
</p>

<%= link_to 'Edit', edit_micreceiver_path(@micreceiver) %> |
<%= link_to 'Back', micreceivers_path %>
