<p id="notice"><%= notice %></p>

<p>
  <strong>Serial:</strong>
  <%= @interactivekit.serial %>
</p>

<%= link_to 'Edit', edit_interactivekit_path(@interactivekit) %> |
<%= link_to 'Back', interactivekits_path %>
